/* Variables */
:root {
--primary-color: #7DA215;
--text-color: #DADADA;
--background-body: linear-gradient(to top, #0d0d0d, rgb(20, 20, 20, 0.9));
--form-background: linear-gradient(to top, #0d0d0d, rgba(255, 255, 255, 0.1));
}

.main_container {
user-select: none;
flex-direction: column;
min-height: 100vh;
color: var(--text-color);
display: flex;
align-items: center;
justify-content: center;
background: var(--background-body);
}

.form__section {
width: 100%;
}

.form {
max-width: 300px;
width: 100%;
background: var(--form-background);
border-radius: 8px;
border: 2px solid #414141;
padding: 30px;
margin: 0 auto;
}

.form__title {
font-weight: 600;
font-size: 20px;
}

.form__sub-title {
margin-top: 8px;
font-size: 12px;
}

.form__input-label {
display: block;
font-weight: 600;
font-size: 12px;
margin-top: 32px;
}

.form__input-wrapper {
margin-top: 4px;
position: relative;
height: 36px;
}

.form__input {
background-color: #303030;
border: 1px solid #414141;
border-radius: 4px;
padding: 0px 16px;
height: 36px;
font-size: 12px;
width: 100%;
outline: none;
color: inherit;
}

.form__input:focus {
border-color: var(--primary-color);
}

.form__input::placeholder {
color: inherit;
}

.form__input--has-svg {
padding-right: 40px;
}

.form__pass-toggle {
width: 20px;
height: 20px;
position: absolute;
top: 0;
bottom: 0;
margin: auto 0;
right: 16px;
transition: all 100ms linear;
}

.form__pass-toggle--active {
transform: rotate(90deg);
color: var(--primary-color);
}

.form__remmember {
display: block;
font-size: 12px;
margin-top: 32px;
}

.form__submit-btn {
margin-top: 32px;
width: 100%;
height: 39px;
border-radius: 4px;
background-color: var(--primary-color);
font-size: 12px;
font-weight: 600;
color: #21270E;
cursor: pointer;
}

.form__sign-up {
margin-top: 32px;
display: block;
font-size: 12px;

}

.otp_input{
    width: 50px;
    height: 50px;
    background-color: #303030;
    border: 1px solid #414141;
    border-radius: 4px;
    text-align: center;
    outline: none;
    color: inherit;
    font-size: 30px;
}

.otp-wrapper{
    text-align: center;
    margin: 10px 0px;
}